@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/*Ik weet echt niet waarom maar ik kon er niet voor zorgen dat mijn fonts werkte via @import maar zal de code toch laten*/
@font-face{
    font-family: "Open Sans";
    src: url('OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face{
    font-family: "Yanone Kaffeesatz";
    src: url('Yanone Kaffeesatz-regular.eot'); /* IE9 Compat Modes */
  src: url('Yanone Kaffeesatz-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Yanone Kaffeesatz-regular.woff') format('woff'), /* Modern Browsers */
       url('Yanone Kaffeesatz-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Yanone Kaffeesatz-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

.section__titel {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}

.container {
    margin: auto;
    width: 99%;
}


/*-------------------header-------------------*/

.header {
    height: 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo,
.icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}


/*------------------menu------------------*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover,
.select {
    background: white;
    color: #FBA919;
}

.tonen {
    left: 0;
}


/*--------------banner--------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 25px;
}

.banner .container {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translateX(-55%) translateY(-60%);
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

.banner__txt {
    display: none;
}

.banner__titel,
.banner__txt {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
    text-shadow: 0px 0px 3px #000
}


/*-----------------info-----------------*/

.info__column {
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}


/*-----------------aandachtspunten-----------------*/

.aandachtspunten__column {
    position: relative;
    margin-bottom: 30px;
}

.aandachtspunten__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 55%;
    height: 99%;
    padding: 15px;
}

.aandachtspunten__titel {
    font-size: 25px;
    margin: 5px 0;
}

.aandachtspunten__img {
    width: 100%;
}


/*-----------------footer-----------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


/*------------------responsive------------------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner__titel {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -50px;
    }
    .info__column {
        width: 32%;
    }
    .info__titel {
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titel {
        width: 100%;
    }
    .aandachtspunten {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .aandachtspunten__column {
        width: 49%;
    }
    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}

@media(min-width:768px) {
    .banner__titel {
        font-size: 50px;
    }
    .aandachtspunten__titel {
        font-size: 40px;
    }
}

@media(min-width:1024px) {
    .container {
        width: 1000px;
    }
    .section__titel {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .icon-menu {
        display: none;
    }
    .menu__link {
        background: none;
        font-size: 20px;
    }
    .select {
        color: #fff;
        background: #FBA919;
    }
    .banner__titel {
        font-size: 60px;
    }
    .banner__txt {
        font-size: 25px;
    }
    .info {
        margin-top: -120px;
    }
    .info__column {
        padding: 30px;
    }
    .info__titel {
        font-size: 40px;
        text-align: center;
    }
    .aandachtspunten__descripcion {
        padding: 20px;
    }
    .aandachtspunten__titel {
        font-size: 50px;
    }
}

@media(min-width:1280px) {
    .container {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
    .banner .container {
        top: 40%;
    }
    .info {
        margin-top: -220px;
    }
}