table , td, th
{
    border="2" ;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    padding: 0.5;
}
th
{
    background-color:dimgrey;
    color: white
        
        
}

body
{
    font-family: sans-serif;
}