@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/*Ik weet echt niet waarom maar ik kon er niet voor zorgen dat mijn fonts werkte via @import maar zal de code toch laten*/
@font-face{
    font-family: "Open Sans";
    src: url('OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face{
    font-family: "Yanone Kaffeesatz";
    src: url('Yanone Kaffeesatz-regular.eot'); /* IE9 Compat Modes */
  src: url('Yanone Kaffeesatz-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Yanone Kaffeesatz-regular.woff') format('woff'), /* Modern Browsers */
       url('Yanone Kaffeesatz-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Yanone Kaffeesatz-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}






.section__titel {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}

.container {
    margin: auto;
    width: 99%;
}
caption{
    
}
/*Map*/

embed,
object,
iframe{
    max-width: 100%;
    
}

/*-------------------table-------------------*/
.uurrooster{
   width: 450px; 
    margin: auto;
    background:#FBA919;
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;

    
}

.tabel__titel{
    text-align: left;
    font-size: 22px;
    
    
}


/*-------------------formulario-------------------*/
form {
    width: 450px;
    margin: auto;
    background: #FBA919;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 100px;
    margin-top: 70px
    
}

.form__titel{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 25px;
    
}
input, textarea {
  width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    
}
textarea
{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#button{
    background: #fff;
    padding: 20px;
}

#button:hover{
    cursor: pointer;
    
}
#reset{
    background: #fff;
    padding: 20px;
}
#reset:hover{
    cursor: pointer;
    
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}




/*-------------------header-------------------*/

.header {
    height: 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo,
.icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}


/*------------------menu------------------*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover,
.select {
    background: white;
    color: #FBA919;
}

.tonen {
    left: 0;
}


/*--------------banner--------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 40px;
}

.banner .container {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translateX(-55%) translateY(-60%);
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

.banner__txt {
    display: none;
}

.banner__titel, .banner__txt{
    background-color: rgba(0,0,0,0.5);
    font-weight: 900;
    text-shadow: 0px 0px 3px #000
    
}


/*-----------------info-----------------*/

/*.info__column {
    background: #FBA919;
    color: #fff;
    padding: 12px;
    margin-bottom: 35px;
}


/*-----------------footer-----------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


/*------------------responsive------------------*/

@media(min-width:480px) {
    .logo {
        font-size: 48px;
    }
    .banner__titel {
        font-size: 45px;
    }

    .section__titel {
        width: 100%;
    }
    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}

@media(min-width:768px) {
    .banner__titel {
        font-size: 50px;
    }

}

@media(min-width:1024px) {
    .container {
        width: 1000px;
    }
    .section__titel {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .icon-menu {
        display: none;
    }
    .menu__link {
        background: none;
        font-size: 20px;
    }
    .select {
        color: #fff;
        background: #FBA919;
    }
    .banner__titel {
        font-size: 60px;
    }
    .banner__txt {
        font-size: 25px;
    }

}

@media(min-width:1280px) {
    .container {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
    .banner .container {
        top: 40%;
    }

}



